bin
obj
## .NET
bin/
obj/
publish/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## VS / Rider
.vs/
.idea/
*.swp
*~

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
**/packages/*
*.nupkg
project.lock.json

## ASP.NET
ScaffoldingReadMe.txt

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## macOS
.DS_Store

## Secrets
appsettings.Development.json
